#filter-block .filters-items{
    border-radius: 10px;
    border-right: 1px solid #F3F4F5;
    border-bottom: 1px solid #F3F4F5;
}
#filter-block .filter-title-block{
    border: 1px solid #65b401;
    border-radius: 5px;
    padding: 5px 0px 5px;
    background: #65b401;
    color: #fff;
    font-weight: normal;
    margin-bottom: 10px;
}
#filter-block .filter-title-block h2{
    margin: 0px;
    padding: 3px 15px;
    font-size: 13px;
    font-weight: bold;
}
#filter-block .filter-item{
    padding-bottom: 10px;
}
#filter-block .filter-item .filter-item-title{
    padding: 5px 10px 0px;
    margin-bottom: 5px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}
#filter-block .filter-item .filter-item-value{
    padding: 5px 10px 0px;
}
#filter-block .filter-item .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #65b401;
    background-color: #65b401;
}
.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(110,180,1,.25);
    border: none;
}