@font-face {
    font-family: 'Noto Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Noto Sans Regular'), url('/fonts/NotoSans/NotoSans-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Noto Sans Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Noto Sans Italic'), url('/fonts/NotoSans/NotoSans-Italic.woff') format('woff');
}


@font-face {
    font-family: 'Noto Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Noto Sans Bold'), url('/fonts/NotoSans/NotoSans-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Noto Sans Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Noto Sans Bold Italic'), url('/fonts/NotoSans/NotoSans-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Pro'), url('/fonts/GothamPro/GothaProReg.woff') format('woff');
}


@font-face {
    font-family: 'Gotham Pro Black';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Pro Black'), url('/fonts/GothamPro/GothaProBla.woff') format('woff');
}


@font-face {
    font-family: 'Gotham Pro Light';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Pro Light'), url('/fonts/GothamPro/GothaProLig.woff') format('woff');
}


@font-face {
    font-family: 'Gotham Pro Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Pro Medium'), url('/fonts/GothamPro/GothaProMed.woff') format('woff');
}


@font-face {
    font-family: 'Gotham Pro Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Pro Light Italic'), url('/fonts/GothamPro/GothaProLigIta.woff') format('woff');
}


@font-face {
    font-family: 'Gotham Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Pro Bold'), url('/fonts/GothamPro/GothaProBol.woff') format('woff');
}


@font-face {
    font-family: 'GothamPro-MediumItalic';
    font-style: normal;
    font-weight: normal;
    src: local('GothamPro-MediumItalic'), url('/fonts/GothamPro/GothamProMediumItalic.woff') format('woff');
}
body{
    font-family: 'Gotham Pro',sans-serif;
    background: #eae0cc;
}
/*Hidden selectize-arrow*/
.selectize-input::after
{
    visibility:hidden;
}
#content{
    padding: 20px;
}
input[type="file"]{
    display: none;
}
.tox-statusbar{
    display: none !important;
}
.tc-header{
    height: auto;
    padding: 1.9375rem 3.125rem 0 3.125rem;
    background-color: #FFF;
    position: relative;
    margin: 0 auto;
}
.tc-header .tc-header-top .tc-header-logo{
    float: left;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/img/logo.png");
    margin: -10px 0  10px 0;
}
.tc-header-button{
    border: 1px solid #cccccc;
    height: 2.5rem;
    line-height: 2.5rem;
    display: -moz-inline-stack;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 1.25rem;
    color: #4c4c4c;
    text-transform: uppercase;
    border-radius: 1.25rem;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 600;
    transition: border-color 0.2s ease, background-color 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: white;
    position: relative;

}
.tc-header .tc-header-button{
    float: right;
    padding: 0 1.25rem;
    display: block;
    border-color: #e6e6e6;
}
.search-block {
    height: 100px;
    position: relative;
}

.search-block input {

    position: absolute;
    right: 30px;
    box-sizing: border-box;
    width: 0;
    height: 45px;
    padding: 0 20px;
    outline: none;
    font-size: 18px;
    border-radius: 50px;
    color: #29313a;
    border: 3px solid #62d474;
    transition: all 0.4s ease;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #62d474;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #62d474;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #62d474;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #62d474;
}

.search-button {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #62d474;
    border-radius: 50%;
    right: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 55px;
    font-size: 25px;
    color: #fff;
    transition: all 0.8s ease;
}

.search-block input.active {
    width: 100%;
    right: 30px;
}

.search-button.animate {
    transform: rotate(-360deg);
}
.tc-header-bottom{
    border-top: 1px solid gray;
    height: 100px;
}
.tc-header .nav-link {
    text-transform: uppercase;
}

h1.tc-title {
    text-align: center;
    padding: 10px 0 30px 0;
    border-bottom: 1px solid #ccbd9c;
    margin-bottom: 30px;
}
#content{
    background: #ffffff;
}