.tc-header{
    padding-top: 15px;
}
.tc-header .tc-header-top .tc-header-logo img{
    max-width: 125px;
}

.search-block {
    width: 450px;
    height: 100px;
    position: relative;
}

.search-block input {
    position: absolute;
    top: 11px;
    right: 52px;
    box-sizing: border-box;
    width: 0px;
    height: 45px;
    padding: 0 20px;
    outline: none;
    font-size: 18px;
    border-radius: 50px;
    color: #29313a;
    border: 3px solid #62d474;
    transition: all 0.8s ease;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #62d474;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #62d474;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #62d474;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #62d474;
}

.search-button {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #62d474;
    border-radius: 50%;
    right: 53px;
    top: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 55px;
    font-size: 25px;
    color: #fff;
    transition: all 0.8s ease;
}

.search-block input.active {
    width: 350px;
    right: 100px;
}

.search-button.animate {
    transform: rotate(-360deg);
    right: 100px;
}